@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

.load-container {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #e0b289;
  pointer-events: none;
}

.anim-bloc {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  z-index: 100;
}

.bloc-txt {
  background: white;
  position: absolute;
  bottom: -50px;
  left: -50px;
  height: 0;
  z-index: 175;
  overflow: hidden;
}

.bloc-txt h2 {
  padding: 10px 30px;
  color: #222;
  font-family: Playfair Display, serif;
  font-size: 40px;
  text-transform: uppercase;
  transform: translateY(100px);
}

.images-container {
  width: 100%;
  height: 0px;
  position: absolute;
  /* Pour faire monter la height de bas en haut */
  bottom: 0px;
  z-index: 150;
  overflow: hidden;
}

.img-flip {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: absolute;
}

.flip-img1 {
  background-image: url("");
}

.flip {
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  position: absolute;
}

.f2 {
  background: #9b1339;
}

.home {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.603);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(0.3);
}

.home-content {
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  color: #fff;
  z-index: 15;
}

.home-content h1 {
  font-family: Playfair Display, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 85px;
  /* font-weight: bolder; */
  line-height: 1.1;
}

.home-content .middle-line {
  height: 200px;
  width: 2px;
  background: #fff;
  margin: 40px auto;
  position: relative;
}

.home-content a {
  text-align: center;
  display: block;
  font-size: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  margin: 50px auto 0;
  padding: 16px 30px;
  cursor: pointer;
  transition: 0.5s;
}

.home-content a:hover {
  color: #000;
  background-color: #FFF;
}

.header li a {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header .logo {
  color: #000;
  font-size: 20px;
  text-transform: uppercase; /* MAJUSCULE */
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 2px;
}
header .logo img {
  width: 25px;
  display: none;
}
@media screen and (max-width: 570px) {
  header .logo {
    display: none;
  }
  header ul {
    width: auto;
    margin: 0 auto;
  }
}
header ul {
  position: relative;
  display: flex;
}
header ul li {
  position: relative;
  list-style: none;
  margin-right: 20px;
}
header ul li a {
  font-weight: 100;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #000;
  text-decoration: none;
}
header ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  background: #000;
  transition: width 0.3s;
}
header ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

header.sticky {
  background-color: #000;
  padding: 20px 100px;
}
header.sticky .logo {
  color: #000;
}
header.sticky ul li a {
  color: #000;
}

@media screen and (max-width: 570px) {
  header {
    margin: 30px auto;
    padding: 0;
  }
  header ul li {
    margin-right: 15px;
  }
  header ul li a {
    font-size: 1.2rem;
    font-weight: 400;
  }
}
@media screen and (max-width: 770px) {
  .logo {
    margin-right: 40px;
  }
}
.work {
  height: 100vh;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work a {
  color: #000;
  font-weight: 200;
  font-size: 2em;
}
.work a:hover {
  transition: 0.5s;
  color: #fff;
}
.work a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  background: #FFF;
  transition: width 0.3s;
}
.work a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
.work .hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 400;
}
.work .hover-image {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Change width and height to scale images */
  width: 50vw;
  height: 50vh;
}
.work .hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
  opacity: 0.8;
  filter: blur(4px);
}

.works {
  position: relative;
  min-height: 90vh;
  padding: 75px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.works .content {
  max-width: 800px;
  text-align: center;
}
.works .content h2 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
.works .content p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  display: flex;
  pointer-events: none;
}

@media screen and (max-width: 540px) {
  .hover-image {
    width: 95vw;
    height: 95vh;
  }
}
.contactB {
  background-color: #000;
  overflow-y: hidden;
}
.contactB header a {
  font-weight: 100;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
.contactB header a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.5px;
  background: #fff;
  transition: width 0.3s;
}
.contactB header a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

hr {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -20px;
}

.contact {
  position: relative;
  min-height: 90vh;
  padding: 75px 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}
.contact .content h2 {
  font-size: 40px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
.contact .content p {
  font-weight: 300;
  color: #fff;
  margin-bottom: 20px;
}
.contact .container3 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.contact .container3 .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .container3 .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact .container3 .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact .container3 .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contact .container3 .contactInfo .box .text h3 {
  font-weight: 500;
  color: lightseagreen;
}
.contact .contactForm {
  width: 40%;
  padding: 40px;
  background: #ffffff;
}
.contact .contactForm h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}
.contact .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact .contactForm .inputBox input, .contact .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contact .contactForm .inputBox input:focus ~ span,
.contact .contactForm .inputBox input:valid ~ span,
.contact .contactForm .inputBox textarea:focus ~ span,
.contact .contactForm .inputBox textarea:valid ~ span {
  color: crimson;
  font-size: 12px;
  transform: translateY(-15px);
}
.contact .contactForm .inputBox input[type=submit] {
  width: 100px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  font-weight: 200;
}
.contact .contactForm span {
  position: absolute;
  left: 0;
  padding: 1px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

@media screen and (max-width: 1250px) {
  .contactB {
    overflow-y: visible;
  }
  .contact {
    padding: 0;
    padding-bottom: 40px;
    margin-top: 5vh;
    padding: 75px 0px;
  }
  .contact .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact-desc {
    width: 90%;
  }
  .contact .contactForm {
    width: 90%;
  }
  .contact .contactForm .inputBox input[type=submit] {
    font-size: 20px !important;
  }
  .container3 {
    flex-direction: column-reverse;
  }
  .container3 .contactInfo {
    width: 70%;
  }
  .container3 .contactInfo .box {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  .container3 .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
  }
  .container3 .contactInfo .box img {
    max-width: 60%;
  }
  .container3 .contactInfo .text {
    height: auto !important;
  }
  .container3 .contactInfo .text h4 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
